# 2017-04-23 (cc) <paul4hough@gmail.com>
#
dist: trusty
language: c
notifications:
  email:
    - paul4hough@gmail.com

# :( unavoidable
install: sudo apt-get install automake

script:
  - autoreconf
  - ./configure
  - make test
